@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito',sans-serif;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-color: rgb(154, 166, 208); */
    background-color: rgb(85, 112, 179);
    color: white;
}
.container{
    width: 450px;
    /* background-color: rgb(54, 71, 111); */
    background-color: rgb(255, 255, 255);
    color:rgb(10, 26, 68);
    border-radius: 7px;
    padding: 15px;
    box-shadow: 3px 3px rgb(35, 43, 78);

}
.container h1{
    font-size: 36px;
    font-weight:700;
    padding: 15px 25px;
    text-align: center;
    border-bottom: 1px solid ;
}
.container content{
    margin: 25px 40px;
    padding: 15px;
}
.content .word{
    margin: 10px;
    font-size:28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.content .details{
    margin: 15px 5px 10px;
    text-align: center;
}
.details p{
    font-size: 18px;
    margin-bottom: 5px;
}
.details p b{
    font-weight: 600;
}
.content input{
    width: 95%;
    height: 30px;
    border-radius: 5px;
    outline:none;
    padding: 20px 16px;
    margin: 15px;
    border: 1px solid white;
    font-size: 18px;
    text-align: center;
    background-color: rgb(203, 203, 213);
    box-shadow: 2px 2px rgb(148, 149, 151);
}
.content .buttons{
    display: flex;
    justify-content: space-around;
    margin-top:8px;
}
.buttons button{
    border: none;
    outline: none;
    border-radius: 3px;
    width:30%;
    padding: 5px;
    font-weight: 700;
    /* color:rgb(54, 71, 111); */

}
.buttons .refresh{
    /* background-color: rgb(23, 39, 69); */
    background-color: rgb(59, 92, 175);
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px rgb(35, 43, 78);
    
}
.buttons .check{
    /* background-color:  rgb(23, 39, 69); */
    background-color: rgb(59, 92, 175);
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px rgb(35, 43, 78);

}
.buttons .check:hover{
    background-color: white;
    /* color: rgb(23, 39, 69); */
    color:rgb(59, 92, 175);
    border: solid .5px rgb(59, 92, 175);
}
.buttons .refresh:hover{
    background-color: white;
    /* color: rgb(23, 39, 69); */
    color:rgb(59, 92, 175);
    border:solid .5px rgb(59, 92, 175) ;
}
.bt{
    border: none;
    outline: none;
    border-radius: 50%;
    width:20%;
    padding: 25px;
    font-weight: 700;
    background-color: rgb(23, 39, 69);
    color: white;
}
.start{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
.bt:hover{
    background-color: white;
    color: rgb(23, 39, 69);
}
.score{
    text-align: center;
    padding: 8px;
}